<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_archive_lock"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_archive_lock"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArcKey">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/rar" />
                <data android:mimeType="application/vnd.rar" />
                <data android:mimeType="application/x-rar" />
                <data android:mimeType="application/x-rar-compressed" />
                <data android:mimeType="application/7z" />
                <data android:mimeType="application/x-7z-compressed" />
                <data android:mimeType="application/x-compressed" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/rar" />
                <data android:mimeType="application/vnd.rar" />
                <data android:mimeType="application/x-rar" />
                <data android:mimeType="application/x-rar-compressed" />
                <data android:mimeType="application/7z" />
                <data android:mimeType="application/x-7z-compressed" />
                <data android:mimeType="application/x-compressed" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.CrackForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>
</manifest>
